root = true

[*]
charset = utf-8
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true

[*.{json,yaml,yml,sh}]
max_line_length = 80

[*.md]
trim_trailing_whitespace = false

# ET assets, these are commonly indented with tabs
[*.{shader,script,arena,menu,anim,aninc,weap}]
indent_style = tab
